<div class="text-center" id="jb">
  <img id="logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRanDM2e-E9MRAenaVm2CXdvtu_cuBoAxV4ZRVf-oCQDzViS_xL"
    class="img-fluid" alt="Responsive image">
  <br>
  <br>
  <h1>Use the Force & DEVOUR 'em!!</h1>
  <br>
</div>



<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">
    <br>
    <h2>Ready to Eat Burgers!</h2>
    <br>
    {{#each burgers}}
    {{#unless this.devoured}}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>{{id}}. {{burger_name}}</h5><button type="button" id="devour" class="btn btn-danger btn-lg data-id="
          {{id}}"">FORCE DEVOUR!</button>
      </li>
    </ul>
    <br>
    {{/unless}}
    {{/each}}
  </div>

  <div class="p-2 flex-fill bd-highlight">
    <br>
    <h2>Devoured Burgers!</h2>
    <br>
    {{#each burgers}}
    {{#if this.devoured}}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>{{id}}. {{burger_name}}</h5><button type="button" id="restore" class="btn btn-danger btn-lg data-id="
          {{id}}"">FORCE RESTORE!</button>
      </li>
    </ul>
    <br>
    {{/if}}
    {{/each}}
  </div>

  <div class="p-2 flex-fill bd-highlight">
    <br>
    <h2>Request a Burger!</h2>
    <br>
    <div class="form-group">
      <label for="new_burger"></label>
      <input class="form-control" rows="4" id="new_burger" name="burger_name"></input>
      <button id="submit-button" type="submit" class="btn btn-danger mx-auto mt-4"><i class="fas fa-utensils"></i>
        Place
        an Order!</button>
    </div>
  </div>
</div>