<div class="text-center" id="jb">
  <img id="logo" src="/assets/img/newvader.png" class="img-fluid" alt="Responsive image">
  <br>
  <h1>Use the Force & DEVOUR 'em!!</h1>
  <br>
  <div class="container text-center">
    <div class="container">
      <div class="form-group">
        <h5>Request a Custom Burger</h5>
        <div class="col-sm-12 text-center">
          <input class="form-control" id="new_burger" name="burger_name"></input>
        </div>
        <br>
        <button id="submit" type="submit" class="btn btn-danger"><i class="fas fa-utensils"></i>
          Use the FORCE!</button>
      </div>
    </div>
  </div>
  <br><br>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <br>
        <h2>Ready to Eat Burgers!</h2>
        <br>
        {{#each burgers}}
        {{#unless this.devoured}}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>{{id}}. {{burger_name}}</h3><button class="btn btn-danger btn-lg devour-btn" data-id="
          {{id}}" value="{{id}}"  type="submit">FORCE DEVOUR! <i class="fas fa-hamburger"></i></button>
          </li>
        </ul>
        <br>
        {{/unless}}
        {{/each}}
      </div>
      <div class="col">
        <br>
        <h2>Devoured Burgers!</h2>
        <br>
        {{#each burgers}}
        {{#if this.devoured}}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>{{id}}. {{burger_name}}</h3><button class="btn btn-danger btn-lg restore-btn" data-id="
          {{id}}" value="{{id}}"  type="submit">FORCE RESTORE! <i class="fas fa-hamburger"></i></button>
          </li>
        </ul>
        <br>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>